---
// src/pages/admin.astro
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
</head>
<body>
<script>
  // By simply importing the module, the top-level code in cms.ts will execute once.
  import '~/lib/cms';
</script>
</body>
</html>