---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import SearchFilter from '../components/SearchFilter.astro';
import BlogPostItem from '../components/BlogPostItem.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<Layout title="Blog">
    <PageHeader title="Blog" />
    <main class="space-y-4 pb-24">
        <SearchFilter />
        <div class="divide-y divide-gray-100">
            {posts.map(post => (
              <a href={`/posts/${post.slug}`}>
                <BlogPostItem 
                  category={post.data.tags?.[0] || 'General'}
                  title={post.data.title} 
                  description={post.data.description}
                  imageUrl={post.data.image || '/images/default.jpg'}
                />
              </a>
            ))}
        </div>
    </main>
    <Footer activePage="blog" />
</Layout>