---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import TagFilter from '../components/TagFilter.tsx';
import Footer from '../components/Footer.astro';
import PageHeader from '../components/PageHeader.astro';


const posts = await getCollection('posts');

const tags = Array.from(
  new Set(posts.flatMap(post => post.data.tags || []))
);
---

<Layout title="Tags">
<PageHeader title="Tags" />
  <main class="px-4 py-6">

    <TagFilter posts={posts} allTags={tags} client:load/>
  </main>
    <Footer activePage="tag" />
</Layout>