---
import '../styles/global.css';
import SearchModal from '../components/SearchModal';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

        {/* Google Fonts */}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-[#F9F9F9] font-poppins text-[#333]">
		<slot />
		<SearchModal client:only="preact" />
	</body>
</html>
<style is:global>
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
</style>